# Binaries for programs and plugins
gpkg
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendoring is bad, guys
vendor/

# Gpkg config files and fake root dir.
*.conf
root/
